{% extends 'basic.html' %}
{% load course_custom_tags %}
{% comment %} {%block title%}
Signup
{% endblock %} {% endcomment %}

{%block body%}

<!--====== PAGE BANNER PART START ======-->
    
<section id="page-banner" class="pt-105 pb-110 bg_cover" data-overlay="8" style="background-image: url(images/page-banner-2.jpg)">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="page-banner-cont">
                    <h2>{{course.name}}</h2>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item"><a href="#">Courses</a></li>
                            <li class="breadcrumb-item active" aria-current="page">{{course.name}}</li>
                        </ol>
                    </nav>
                </div>  <!-- page banner cont -->
            </div>
        </div> <!-- row -->
    </div> <!-- container -->
</section>

<!--====== PAGE BANNER PART ENDS ======-->


    <!--====== COURSES SINGEl PART START ======-->
    
    <section id="corses-singel" class="pt-90 pb-120 gray-bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="corses-singel-left mt-30">
                        <div class="title">
                            <h3>{{course.name}}</h3>
                        </div> <!-- title -->
                        <div class="course-terms">
                            <ul>
                                <li>
                                    <div class="teacher-name">
                                        <div class="thum">
                                            <img src="/static/courses/images2/course/teacher/t-1.jpg" alt="Teacher">
                                        </div>
                                        <div class="name">
                                            <span>Teacher</span>
                                            <h6>{{course.instructor}}</h6>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="review">
                                        <span>Review</span>
                                        <ul>
                                            <li><a href="#"><i class="fa fa-star"></i></a></li>
                                            <li><a href="#"><i class="fa fa-star"></i></a></li>
                                            <li><a href="#"><i class="fa fa-star"></i></a></li>
                                            <li><a href="#"><i class="fa fa-star"></i></a></li>
                                            <li><a href="#"><i class="fa fa-star"></i></a></li>
                                            <li class="rating">(20 Reviews)</li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        </div> <!-- course terms -->
                        
                        <div class="corses-singel-image pt-50">
                            <img src="{{course.thumbnail.url}}" alt="Courses">
                        </div> <!-- corses singel image -->
                        
                        <div class="corses-tab mt-30">
                            <ul class="nav nav-justified" id="myTab" role="tablist">
                                <li class="nav-item">
                                    <a class="active" id="overview-tab" data-toggle="tab" href="#overview" role="tab" aria-controls="overview" aria-selected="true">Overview</a>
                                </li>
                                <li class="nav-item">
                                    <a id="curriculam-tab" data-toggle="tab" href="#curriculam" role="tab" aria-controls="curriculam" aria-selected="false">Curriculum</a>
                                </li>
                                <li class="nav-item">
                                    <a id="instructor-tab" data-toggle="tab" href="#instructor" role="tab" aria-controls="instructor" aria-selected="false">Instructor</a>
                                </li>
                            </ul>
                            
                            <div class="tab-content" id="myTabContent">
                                <div class="tab-pane fade show active" id="overview" role="tabpanel" aria-labelledby="overview-tab">
                                    <div class="overview-description">
                                        <div class="singel-description pt-40">
                                            <h6>Course Summary</h6>
                                            <p>{{course.description}}</p>
                                        </div>
                                        <div class="singel-description pt-40">
                                            <h6>Prerequisites</h6>
                                            {% for pre in course.prerequisite_set.all %}
                                            <p>{{pre.description}}</p>
                                            {% endfor %}
                                        </div>
                                    </div> <!-- overview description -->
                                </div>
                                <div class="tab-pane fade" id="curriculam" role="tabpanel" aria-labelledby="curriculam-tab">
                                    <div class="curriculam-cont">
                                        <div class="title">
                                            <h6>{{course.name}} Curriculum</h6>
                                        </div>
                                        <div class="accordion" id="accordionExample">
                                            {% is_enrolled request course as enrolled %}
                                            {% for v in videos %}
                                            <div class="card">
                                                <div class="card-header" id="headingOne">
                                                    <a href="#" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                        <ul>
                                                            <li><i class="fa fa-file-o"></i></li>
                                                            <li><span class="lecture">{{v.serial_number}}</span></li>
                                                            <li><span class="head">{{v}}</span></li>
                                                            <li><span class="time d-none d-md-block"><i class="fa fa-clock-o"></i> <span>{{v.serial_number}}</span></span></li>
                                                        </ul>
                                                    </a>
                                                </div>
                                                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                                                    <div class="card-body">
                                                        <p>{{v.description}}</p>
                                                    </div>
                                                </div>
                                            </div>
                                            {% endfor %}                                                                                           
                                        </div>
                                    </div> <!-- curriculam cont -->
                                </div>
                            </div> <!-- tab content -->
                        </div>
                    </div> <!-- corses singel left -->                    
                </div>
                <div class="col-lg-4">
                    <div class="row">
                        <div class="col-lg-12 col-md-6">
                            <div class="course-features mt-30">
                               <h4>Course Features </h4>
                                <ul>
                                    <li><i class="fa fa-clock-o"></i>Lectures : <span>{{course.length}}</span></li>
                                    <li><i class="fa fa-money"></i>Actual Price : <span>{{course.price}}</span></li>
                                    <li><i class="fa fa-beer"></i>Discount:  <span>{{course.discount}}%</span></li>
                                    {% comment %} <li><i class="fa fa-user-o"></i>Students :  <span>100</span></li> {% endcomment %}
                                </ul>
                                <div class="price-button pt-10">
                                    <span>Price : <b>{% cal_sellprice course.price course.discount as value %} {{value|rupee}}</b></span>
                                    <a href="?action=create_payment" class="main-btn">Enroll Now</a>
                                </div>
                            </div> <!-- course features -->
                        </div>
                    </div>
                </div>
            </div> <!-- row -->
        </div>
        </div>
        </div>

{% if order is not None %}
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>


<script>

    var options = {
        "key": "rzp_live_ZsFxLj7hoMk3Xv", // Enter the Key ID generated from the Dashboard
        "name": "Mirchal Sir's Tutorials",
        "description": "Payment For {{course.name}}",
        "image": "/static/courses/images2/logomir.svg",
        "order_id": "{{order.id}}", //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
        "callback_url": "/verify_payment",
        "prefill": {
            "name": "{{user.first_name}}",
            "email": "{{user.email}}",
        },
        "theme": {
            "color": "#07294d"
        }
    };
    var rzp1 = new Razorpay(options);

    rzp1.open();

</script>
{% endif %}

{% if error is not None %}

<script>

    window.onload = ()=>{
        alert("{{error}}")
    }

</script>

{% endif %}
{%endblock%}
