{% extends 'basic.html' %}
{% load static %}
{% block title %}
Refund Policy
{% endblock title %}

{% block body %}
<div class = "container">
    <h3 style = "font-weight: 600;
    font-size: 2 rem;
    color: #07294d;
    text-transform: uppercase;"> Our Refund Policy </h3>
    <hr>
    <p>Mirchal Sir's Tutorials provides paid and free courses for classes X, XI and XII. The paid courses, obviously, can be accessed after making a payment towards the platform. The courses are already provided on very genuine prices and also the introduction video and a demo lecture of each course is available before enrolling into the course, so that the student can decide whether the course is beneficial for him/her. Owing to all these reasons, the courses are <strong> non-refundable</strong></p><br>
</div>
{% endblock body %}

