{% extends 'basic.html' %}
{% load static %}
{% block title %}
Privacy Policy
{% endblock title %}

{% block body %}
<div class = "container">
    <h3 style = "font-weight: 600;
    font-size: 2 rem;
    color: #07294d;
    text-transform: uppercase;"> Privacy Policy</h3>
    <hr>
    <p>All the details submitted by the user, including name and email shall remain confidential and secure.
        Since we are accepting in-app payments, the payment gateway too is very secure and all your banking information is never stored on the site or by the payment gateway
    </p><br>
</div>
{% endblock body %}

