{% extends 'basic.html' %}
{% load static %}
{% load course_custom_tags %}
{% block title %}Search Results{% endblock title %}
{% block body %}
<section id="courses-part" class="pt-120 pb-120 gray-bg">
    <div class="container my-3">
        <h2>Search results : </h2>
        {% if allCourses|length < 1 %}
       <p>No search results</p>
        Your search query : <b>{{query}}</b> did not match any documents. <br>
        Suggestions:
        <ul>
        <li>Make sure that all words are spelled correctly.</li>
        <li>Try more general keywords.</li>
       <li> Try fewer keywords.</li>
       <li> Try different keywords.</li>
        </li>
        </ul>
        {% endif %}
    </div>
    <div class="container">         
        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade show active" id="courses-grid" role="tabpanel" aria-labelledby="courses-grid-tab">
                <div class="row">
                    {% for course in allCourses %}
                    <div class="col-lg-4 col-md-6">
                        <div class="singel-course mt-30">
                            <div class="thum">
                                <div class="image">
                                    <img src="{{course.thumbnail.url}}" alt="Course">
                                </div>
                                <div class="price">
                                    <span>{{course.price|rupee}}</span>
                                </div>
                            </div>
                            <div class="cont">
                                <ul>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                </ul>
                                <span>(20 Reviews)</span>
                                <a href="courses-singel.html"><h4>{{course.name}}</h4></a>
                                <div class="course-teacher">
                                    <div class="thum">
                                        <a href="#"><img src="/static/courses/images2/course/teacher/t-1.jpg" alt="teacher"></a>
                                    </div>
                                    <div class="name">
                                        <a href="#"><h6>{{course.instructor}}</h6></a>
                                    </div>
                                    <div class="admin">
                                        <ul>
                                            {% if enrolled %}
                                            <li style = "background-color: #ffc600; border: 2px solid #07294d; padding: 4px; border-radius: 18px;"><a href="/course/{{course.slug}}" style = "color:#07294d">Read</li>
                                            {% else %}
                                           <li style = "background-color: #ffc600; border: 2px solid #07294d; padding: 4px; border-radius: 18px; "><a href="/check-out/{{course.slug}}" style = "color:#07294d">Buy</a></li>
                                           <li style = "background-color: #ffc600; border: 2px solid #07294d; padding: 4px; border-radius: 18px; "><a href="/course/{{course.slug}}" style = "color:#07294d">View</a></li>
                                           {% endif %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div> <!-- singel course -->
                    </div>
                    {% endfor %}
                </div> <!-- row -->
            </div>
        </div> <!-- tab content -->
    </div> <!-- container -->
</section>
{% endblock body %}